<%- include('partials/header') %>
    <br>

    <div class="itemBox">
        <h1>
            <%= title %>
        </h1>
        <p>
            Description:
            <%= content %>
        </p>
    </div>

    <div class="itemBox">
        <p>
            <h1> Owner's Information: </h1>
        </p>
        <p>
            <%= name %>
        </p>
        <p>
            <%= phone %>
        </p>
        <p>
            <%= email %>
        </p>
    </div>
    </body>

    </html>